*{
    margin: 0;
    padding: 0;
    font-family: Mulish , sans-serif;
}
.navbar{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    box-shadow: 0 15px 40px -20px rgb(40, 44, 63 / 15%);
    height: 71px;
    margin: auto;
    padding: 20px;
    z-index: 1000;

}

.navbar .nav{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    background: black;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.nav .Home{
    border-color: white;
    border-radius: 2px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: white;
    margin: 25px;


}
.nav .Login{
    border-color: white;
    background-color: black;
    color: white;
    margin: 10px;
    border-radius: 2px;
    

}

.nav .Signup{
    background-color: rgba(255, 255, 0, 0.914);
    border-color: black;
    
    color: black;
    margin: 10px;
    border-radius: 2px;
}

.left .logo{
    
    
    width: 49px;
    height: 49px;
    left: 8px;
    top: 9px;
}
.container{
    color: black;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 42px;
    top: 80px;
   
    left: 10px; 

}

.container .flex-cards{
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
    width: 600px;
    left: 18px;
    top: 92px;
    border-radius: nullpx;

  
}

.place{
    margin: 0  auto;
    display: grid;
    grid-template-columns:repeat(3, 33.33%) ;
    margin-bottom: 85px;
    justify-content: space-between;
    padding: 30px;
    margin-top: 95px;
}

.place .item-content{
    display: flex;
    align-content: center;
    justify-content: space-between;
    

}
